#app {
  // font-family: "Arial", "Microsoft YaHei", "黑体", "宋体", sans-serif;
  // font-family: Avenir, Helvetica, Arial, sans-serif;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // text-align: center;
  // color: #2c3e50;
  line-height: 1.5em;
  font-family:'Verdana', Arial, Helvetica, sans-serif;// Calibri Tahoma
  font-size: 14px;
  color: #000000;
}
html,
body {
  padding: 0;
  margin: 0;
}

.nut-tabs__titles {
  // height: 80px!important;
}
.nut-icon{
  width: 40px;
  height: 40px;
}
